[run]
branch = True

[report]
omit =
    */migrations/*
    /Library/*
    *buildout/eggs/*
    /usr/*
    /var/lib/hudson/.buildout/*
    /var/lib/jenkins/.buildout/*
    eggs/*
    local_checkouts/*
    parts/*
    bin/*
    */site-packages/*

ignore_errors = true
